<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:fragment="menu-bar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
        <div class="container">
            <a class="navbar-brand fw-bold text-uppercase" th:href="@{/}">🚗Car Marketplace</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white fw-semibold" th:href="@{/}">Home</a>
                    </li>

                    <!--show only login and reg if no user logged in-->
                    <li class="nav-item" th:if="${session.currentUser == null}">
                        <a class="nav-link text-white fw-semibold" th:href="@{/loginPage}">Login</a>
                    </li>
                    <li class="nav-item" th:if="${session.currentUser == null}">
                        <a class="nav-link text-white fw-semibold" th:href="@{/registerPage}">Register</a>
                    </li>

                    <!--show profile if logged in-->
                    <li class="nav-item" th:if="${session.currentUser != null}">
                        <a class="nav-link text-white fw-semibold" th:href="@{/profile}">Profile</a>
                    </li>
                    <!--if seller logged in-->
                    <li class="nav-item" th:if="${session.currentUser != null and session.currentUser.role == 2}">
                        <a class="nav-link text-white fw-semibold" th:href="@{/vehicles/add}">Add Car</a>
                        <a class="nav-link text-white fw-semibold" th:href="@{/vehicles/myListings}">My Listings</a>
                    </li>
                    <!--if buyer logged in-->
                    <li class="nav-item" th:if="${session.currentUser != null and session.currentUser.role == 1}">
                        <a class="nav-link text-white fw-semibold" th:href="@{/vehicles}">Search Cars</a>
                    </li>

                    <!--logout-->
                    <li class="nav-item" th:if="${session.currentUser != null}">
                        <a class="nav-link text-white fw-semibold" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
